@import "~bulma/sass/utilities/initial-variables.sass";

.footer-container {
  position: absolute;
  bottom: 0;
  border-top: 1px solid $turquoise;
  width: 100%;
  color: $grey-dark;
  padding: 15px;
}
